.App {
    display: grid;
    grid-template-rows: 10vh repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    padding: 0 60px;
  }
  .gridHeader{
    grid-column: 1/-1;
    grid-row: 1;
    z-index: 100;
  }
  .gridBody{
    grid-column: 1/-1;
    grid-row: 2/-1;
  }