.App {
  display: grid;
  /* grid-template-rows: 10vh repeat(2, 1fr); */
  grid-template-rows: 10vh 1fr ;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: 100vw;
  min-height: 100vh;
}
.gridHeaderItem {
  grid-column: 1/-1;
  grid-row: 1;
  z-index: 100;
  border-bottom: black solid 1px;
  padding: 0 40px;
}
.gridBodyItem {
  grid-column: 1/-1;
  grid-row: 2/-1;
  padding: 20px 40px;
}
/* .toastify {
  height: 0px;
  width: 0px;
} */
